a {
  cursor: pointer;
}

.window {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logo {
  padding-top: 30px;
}

.header {
  position: relative;
  z-index: 100;
}

#name {
  font-family: "Poiret One", cursive;
  font-size: 20px;
  width: 88px;
  margin: auto;
}

.navbar {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-align: center;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  padding-left: 37px;
}

.content-slider {
  position: relative;
  margin-top: -174px;
  display: flex;
  flex-direction: row;
  width: 280vw;
}


.box1 {
  background-color: white;
  width: 80vw;
}

.workhome {
  padding-top: 270px;
}

@media only screen and (max-width: 992px) {
  .workhome {
   padding-top: 240px;
  }
}

.home-container1 {
  display: flex;
  justify-content: center;
}

.home-project1 {
  width: 85%;
}

.sbzpreview,
.epapreview,
.squekpreview {
  width: 100%;
}

.home-container2 {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  .home-container2 {
   margin-bottom: 150px;
  }
}


.home-group1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
}

@media only screen and (max-width: 768px) {
  .home-group1 {
    flex-direction: column;
  }
}

.home-project2 {
  width: 45%;
}

@media only screen and (max-width: 1200px) {
  .home-project2 {
    width: 48%;
  }
}

@media only screen and (max-width: 768px) {
  .home-project2 {
    width: 100%;
  }
}

.home-textbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 1460px) {
  .home-textbox {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .home-textbox {
    margin-bottom: 117px;
  }
}

@media only screen and (max-width: 992px) {
  .home-textbox {
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 768px) {
  .home-textbox {
    margin-bottom: 43px;
  }
}


.home-title {
  font-size: 15px;
  font-family: "Abel", sans-serif;
}

.home-p {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: lightslategray;
}

.box2 {
  background-color: #fef8f5;
  width: 80vw;
}

.quotecontainer {
  padding-top: 258px;
  padding-left: 95px;
  width: 580px;
}

@media only screen and (max-width: 1200px) {
  .quotecontainer {
    margin: auto;
    text-align: center;
    width: 610px;
    padding-left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .quotecontainer {
   padding-top: 240px;
  }
}

@media only screen and (max-width: 768px) {
  .quotecontainer {
    padding-top: 230px;
    width: 508px;
  }
}

@media only screen and (max-width: 600px) {
  .quotecontainer {
    width: 380px;
  }
}

#quote,
#social-title {
  font-size: 30px;
  font-family: "Crimson Text", serif;
}

@media only screen and (max-width: 992px) {
  #quote {
   font-size: 25px;
  }
}

@media only screen and (max-width: 600px) {
  #quote {
   font-size: 22px;
  }
}


.aboutcontainer {
  margin-top: 122px;
  margin-right: 95px;
  display: flex;
  justify-content: flex-end;
  
}


@media only screen and (max-width: 1200px) {
  .aboutcontainer {
    margin-right: 0;
    margin-top: 70px;
    justify-content: center;
  }
}

@media only screen and (max-width: 992px) {
  .aboutcontainer {
    margin-top: 45px;
  }
}

@media only screen and (max-width: 768px) {
  .aboutcontainer {
    margin-top: 60px;
  }
}


#aboutbox {
  width: 70%;
  height: auto;
  background-color:#FCE0D2;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1200px) {
  #aboutbox {
    width: 85%;
  }
}

@media only screen and (max-width: 768px) {
  #aboutbox {
    flex-direction: column;
  }
}

#profilebox {
  width: 45%;
  margin: 4%;
  margin-right: 0%;
}

@media only screen and (max-width: 960px) {
  #profilebox {
    width: 92%;
    margin: 4%;
  }
}

@media only screen and (max-width: 768px) {
  #profilebox {
    width: 82%;
    margin: 9%;
  }
}


.profile {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 4%;
}

@media only screen and (max-width: 960px) {
  .content {
    width: 93%;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 82%;
    margin: 0 9% 9% 9%;
  }
}

#paragraph {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: 2.15;
}

@media only screen and (max-width: 768px) {
  #paragraph {
    margin-bottom: 0;
  }
}

.subtitle {
  height: 27px;
  transform: rotate(90deg);
  margin-top: 87px;
  margin-right: -80px;
  margin-left: -60px;
}


#about_me {
  font-family: "Abel", sans-serif;
  width: 188px;
  font-size: 15px;
}

.funcontainer {
  margin-top: 122px;
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .funcontainer {
    justify-content: center;
    margin-top: 90px;
  }
}

@media only screen and (max-width: 992px) {
  .funcontainer {
    margin-top: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .funcontainer {
    margin-top: 0;
  }
}

.funbit {
  display: flex;
  flex-direction: row;
  width: 70%;
  text-align: center;
  margin-left: 95px;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .funbit {
    margin-left: 0;
    width: 85%;
  }
}

@media only screen and (max-width: 992px) {
  .funbit {
    flex-direction: column;
  }
}

.fun {
  display: flex;
  flex-direction: column;
  width: 30%;
}

@media only screen and (max-width: 992px) {
  .fun {
    width: 100%;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
  }
}

.funmedia {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .funmedia {
    width: 38%;
  }
}

@media only screen and (max-width: 768px) {
  .funmedia {
    display: none;
  }
}

.cardbox {
  margin-top: 30px;
}
@media only screen and (max-width: 992px) {
  .cardbox {
    width: 53%;
    text-align: start;
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .cardbox {
    width: 100%;
    background-color: #FCE0D2;
    padding: 8%;
  }
}

.cardtitle {
  font-family: "Abel", sans-serif;
  font-size: 15px;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .cardtitle {
    width: 53%;
    text-align: start;
  }
}

.cardtext {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: 2;
}

@media only screen and (max-width: 768px) {
  .cardtext {
    margin: 0;
  }
}

.social {
  margin-top: 258px;
}

#social-title {
  margin-top: 160px;
  text-align: center;
}

@media only screen and (max-width: 1460px) {
  #social-title {
    margin-top: 140px;
  }
}

@media only screen and (max-width: 1200px) {
  #social-title {
    margin-top: 125px;
  }
}

#social-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {
  #social-content {
    flex-direction: column;
  }
}

.emailbutton {
  text-align: center;
  margin-right: 23px;
}

@media only screen and (max-width: 768px) {
  .emailbutton {
    margin-right: 0;
  }
}

.btn .btn-outline-primary {
  color: black;
  border-color: black;
}

.social-icons {
  display: flex;
  flex-direction: row;
  width: 240px;
  margin-left: 38px;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .social-icons {
    margin: auto;
    padding-left: none;
    margin-top: 35px;
  }
}

.icon {
  width: 40px;
}

.box3 {
  background-color: white;
  width: 80vw;
}

.pad {
  background-color: #fef8f5;
  width: 10vw;
}

.workzoo {
  display: none;
}

@media only screen and (max-width: 768px) {
  .workzoo {
    margin-top: 240px;
  }
}

.sbz-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sbz-container1, .sbz-container3 {
  width: 75%;
}

.project-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-textbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 100px;
}

.project-title {
  font-size: 20px;
  font-family: "Abel", sans-serif;
}

.project-subtitle {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: lightslategray;
  margin-bottom: 5px;
}

.display, .problemcontainer {
  width: 50%;
}

.overview, .solutioncontainer {
  width: 50%;
  
}

.project-p {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: black;
  line-height: 2;
}

.sbz-container2 {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: auto;
}

.problemcontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

#zooimage, #problem {
  width: 50%;
}

 {
  width: 100%;
}

.sbz-container3 {
  margin-top: 100px;
}

#DTP {
  width: 100%;
}

#zoo {
  text-align: center;
  width: 50%;
}