/* css styleguide */

.aligncenter{
align-items: center;
}

.flexend{
display:flex;
justify-content:flex-end;
}

.container80{
margin-bottom:8%;
width:80%;
}

.container100{
margin-bottom:8%;
width:100%;
}

.submargin{
margin-top:40px;
}

.home-title{
  font-size:18px;
  font-family:'Chivo',sans-serif;
  font-weight: 300;
  color: #262626;
}

.project-header {
  font-size:35px;
  font-family:"Chivo",sans-serif;
  color: #262626;
}

.p-subtitle{
  font-family:"Chivo",sans-serif;
  font-size:15px;
  color: #262626;
  margin-bottom:5px;
}

.p-text-b{
  font-family:"Lato",sans-serif;
  font-size:15px;
  color: #262626;
}

.p-text-g{
  font-family:"Lato",sans-serif;
  font-size:15px;
  color: #898989;
}

.project-title{
  font-size:22px;
  font-family:"Chivo",sans-serif;
  font-weight:400;
  color: #262626;
  margin-bottom: 20px;
}

.project-p{
  font-family:"lato",sans-serif;
  font-size:18px;
  font-weight: 300;
  color: #262626;
  line-height:2;
  margin:0;
}

.display-title {
  font-size: 80px;
  color: white;
  margin-bottom: -30px;
}

a{
cursor:pointer;
}

.flexrow{
display:flex;
flex-direction:row;
}

.flexcolumn{
display:flex;
flex-direction:column;
}

.info-box{
width:61%;
}
/* end */


/*layout*/

.window{
width:100%;
/* height:100%; */
overflow:hidden;
}

.logo{
padding-top:40px;
margin-bottom: 0;
text-align: center;
}

.header{
position:relative;
z-index:100;
}
#logolink{
color:black;
}

#name{
font-family: 'Chivo', cursive;
font-size:30px;
}

.navbar{
font-family:"Lato",sans-serif;
font-size:18px;
text-align:center;
width:400px;
margin:auto;
margin-top:50px;
}

@media only screen and (max-width:500px){
.navbar{
width:325px;
}
}

.returnwork{
position:fixed;
top:50px;
right:52px;
z-index:4;
margin-right: 183px;
color: 255,255,255,0.6;
/* color: #2B415A; */
border: 1px solid #262626;
padding: 5px 15px 5px 15px;
/* border-radius: 8px; */
margin-top: 45px;
font-family:"Lato",sans-serif;
color: #262626;
}

.returnwork:hover {
  background-color: #262626;
  color: white;
}

.text{
right:200%;
top:8%;
font-size: 13px;
font-family: "Chivo",sans-serif;
position:absolute;
white-space:nowrap;
text-transform:uppercase;
}

span.arrow{
content:"\2190";
float:right;
font-family:"proxima-nova",sans-serif;
font-weight:400;
}

.content-slider{
position:relative;
margin-top:-174px;
right: 0vw;
width:280vw; 
transition: all 1s ease;
}

.fixed{
position:fixed;
}

.box1{
background-color:white;
width:90vw; 
}

/*workhome*/

.workhome{
padding-top:270px;
}

@media onlyscreen and(max-width:992px){
.workhome{
padding-top:240px;
}
}

.whcontainer1{
display:flex;
justify-content:center;
}

#transition{
display:inline-block;
overflow:hidden;
}

#transition img{
display:block;
-moz-transition:all 0.3s;
-webkit-transition:all 0.3s;
transition:all 0.3s;
}

#transition:hover img{
-moz-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.whcontainer2{
display:flex;
justify-content:center;
}

@media only screen and (max-width:992px){
.whcontainer2{
margin-bottom:150px;
}
}

.whbox{
justify-content:space-between;
}

@media only screen and (max-width:768px){
.whbox{
flex-direction:column;
}
}

.home-project2{
width:45%;
}

@media only screen and (max-width:1200px){
.home-project2{
width:48%;
}
}

@media only screen and (max-width:768px){
.home-project2{
width:100%;
}
}

.home-textbox{
display:flex;
flex-direction:row;
justify-content:space-between;
margin-top:1%;
}

@media only screen and (max-width:1520px){
.home-textbox{
display: block;
}
}

@media only screen and (max-width:1200px){
.home-textbox{
margin-bottom:117px;
}
}

@media only screen and (max-width:992px){
.home-textbox{
margin-bottom:48px;
}
}

@media only screen and (max-width:768px){
.home-textbox{
margin-bottom:43px;
}
}

/*workzoo*/
/* 
.workzoo {
  display: none;
} */

.project-container{
  margin-top:150px;
  align-items:center;
  width: 90%;
}

.headerbox {
  justify-content: space-between;
}

.subject {
  width:50%;
}

.project-sheader {
  font-size: 25px;
  font-family:"Lato",sans-serif;
  font-weight: 300;
  color: #898989;
  margin: 0;
}

.detail{
  justify-content: space-between;
  align-self: flex-end;
  width: 30%;
}


.overview {
align-items: center;
}

.currentsite {
  justify-content: center;
  width: 49%;
  margin-bottom: 90px;
}

#sbzwebsite{
width:100%;
}

.goal {
  background-color: #F6F5F0;
  padding: 8% 0% 8% 0%;
}

.text80 {
  margin-bottom: 0;
}


.designtext {
  justify-content: space-between;
  margin: 0;
}

.takeaways{
  align-self: center;
  padding-bottom: 40px;
}

.chartcontainer{
justify-content:space-between;
margin:auto;
}

.chart{
text-align: center;
margin-top: 32px;
}

#circle {
  width: 335px;
  height: 335px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 100%;
  background: #f2f5fb;
}

ul {
  padding: 0;
}

li {
  list-style-type: none
}

.persona,.personatext {
  align-items: center;
}


.personabox {
  margin: 0;
  justify-content: center;
}

.left, .right{
  width: 30%;
}

.center {
  background-color: #f2f5fb;
  width: 36%;
}

.c-text {
  text-align: center;
  margin: 11%;
}

.approach {
align-items: center;
background-color: #F6F5F0;
padding: 8% 0 8% 0;
}


/*start*/
*{
box-sizing:border-box;
}

.row>.column{
padding:08px;
}

.row:after{
content:"";
display:table;
clear:both;
}

.Column{
width:50%;
}


/*TheModal(background)*/
.Modal{
display:none;
position:fixed;
z-index:1;
padding-top:100px;
padding-bottom:100px;
left:0;
top:0;
width:100%;
height:100%;
overflow:hidden;
background-color:black;
}

/*ModalContent*/
.modal-content{
position:relative;
background-color:#fefefe;
margin:auto;
padding:0;
width:45% !important;
max-width:1200px;
}

/*TheCloseButton*/
.Close{
color:white;
position:absolute;
top:10px;
right:25px;
font-size:40px;
font-weight:bold;
}

.Close:hover,
.Close:focus{
color:#999;
text-decoration:none;
cursor:pointer;
}

.mySlides{
display:none;
}

.cursor{
cursor:pointer;
}

/*Next&previousbuttons*/
.prev,
.next{
cursor:pointer;
position:absolute;
top:50%;
width:auto;
padding:16px;
margin-top:-50px;
color:white;
font-weight:bold;
font-size:20px;
transition:0.6s ease;
border-radius:0 3px 3px 0;
user-select:none;
-webkit-user-select:none;
}

/*Positionthe"nextbutton"totheright*/
.next{
right:0;
border-radius:3px 0 0 3px;
}

/*Onhover,addablackbackgroundcolorwithalittlebitsee-through*/
.prev:hover,
.next:hover{
background-color:rgba(0,0,0,0.8);
}

/*Numbertext(1/3etc)*/
.numbertext{
color:#f2f2f2;
font-size:12px;
padding:8px 12px;
position:absolute;
top:0;
}

img{
margin-bottom:-4px;
width:100%;
}

.caption-container{
text-align:center;
background-color:black;
padding:2px 16px;
color:white;
}

.demo{
opacity:0.6;
}

.active,
.demo:hover{
opacity:1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*end*/

.styleguide {
  background-color: #F6F5F0;
  justify-content: center;
  padding: 8% 0 8% 0;
}

.sketch {
  margin: 0 auto 90px auto;
}


.design {
  align-items: center;
  background-color: #F6F5F0;
  padding: 8% 0% 8% 0%;
}

.designtext {
  margin-bottom: 60px;
  align-items: center;
}

.insight{
width:37%;
margin-left: -38px;
}

.prototype {
  width: 50%;
}

.w-text {
  width: 35%;
  margin:90px 0 0 100px;
}

.m-text {
  width: 35%;
  margin:115px 100px 0 100px;
}

.w-button {
  color: 255,255,255,0.6;
  border: 1px solid #262626;
  padding: 5px 15px 5px 15px;
  margin-top: 45px;
  width: 130px;
  font-family:"Lato",sans-serif
}

.m-button {
  color: 255,255,255,0.6;
  border: 1px solid #262626;
  padding: 5px 15px 5px 15px;
  margin-top: 45px;
  width: 145px;
  font-family:"Lato",sans-serif
}

.r-button {
  color: 255,255,255,0.6;
  border: 1px solid #262626;
  padding: 5px 15px 5px 15px;
  margin-top: 25px;
  width: 145px;
  font-family:"Lato",sans-serif
}
  
.w-button:hover, .m-button:hover, .s-button:hover, .r-button:hover  {
    background-color: #262626;
    color: white;
}


/*footer*/

.footer{
display:flex;
flex-direction:column;
align-items:center;
}

.footercontainer{
display:flex;
flex-direction:row;
justify-content:space-between;
width:65%;
margin:30px 0 45px 0;
}

.nextproject{
width:45%;
}

.np-img{
width:100%
}

.np-title{
  font-size:20px;
  font-family:'Chivo',sans-serif;
  font-weight: 300;
  color: #262626;
}

.np-textbox{
justify-content:space-between;
margin-top:15px;
}
/* workzoo end */


/* worksquek */

.worksquek{
  display:none;
}
/* worksquek end */

/*box2*/

.box2{
background-color:#f7f7f7;
width:90vw;
}

.quotecontainer{
padding-top:258px;
justify-content: center;
align-items: center;
margin: 0 auto 8% auto;
}

.quote {
  font-size: 30px;
  line-height: 2;
  width: 41%;
  margin: 0 0 0 8%;
  
}

.profile{
width: 30%;
height:auto;
}

.social{
/* display:none; */
margin-top:258px;
}

.social-title{
  margin: 1% 0 2% 0;
text-align:center;
}

@media only screen and (max-width:1460px){
#social-title{
margin-top:140px;
}
}

@media only screen and (max-width:1200px){
#social-title{
margin-top:125px;
}
}

.social-content {
  align-items: center;
}

.social-icons{
display:flex;
flex-direction:row;
width:240px;
justify-content:space-between;
}

@media only screen and (max-width:768px){
.social-icons{
margin:auto;
padding-left:none;
}
}

.icon{
width:40px;
}

/* worksquek */

.imgcontainer {
  justify-content: space-between;
}

.doubleimg {
  width: 48%;
}

#squek-sketch {
  width: 45%;
  margin-top: 55px;
}

#squek-iteration {
  width: 103%;
  margin-top: 55px;
}

/*box3*/

.s-button {
  color: 255,255,255,0.6;
  border: 1px solid #2B415A;
  padding: 5px 15px 5px 15px;
  width: 145px;
  margin-bottom: 25%;
}
  

.box3{
background-color:white;
width:90vw;
/* height: 100vh;
overflow: scroll; */
}

.pad{
background-color:#f7f7f7;
width:5vw;
}

.hideme {
  opacity: 0;
}
